/* background behind the logo*/
/*#header {
    background:white;
    border-color: black;
}

#header-wrapper {
  background: white;
}*/

/* Background color of the menu */
/*#sidebar {
  background-color: #f6f6f6;
}*/

/* Background color of the menu, when clicked */
/*#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: gray;
}*/

/* Color of all links, including arrows to get to previous and next pages */
/*a {
    color: black;
}
a:hover {
   color: limegreen;
}*/