<!DOCTYPE html>
<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="epiviz">

    <meta name="keyword" content="">
    <link rel="shortcut icon" href="https://epiviz.github.io/favicon.ico">

    

    <title> &middot; Epiviz</title>

    
    


   	
    
        <link rel="stylesheet" href="https://epiviz.github.io/css/theme/simplex.css">
    

    <link rel="stylesheet" href="https://epiviz.github.io/css/font-awesome.min.css">

   	
   	<link rel="stylesheet" href="https://epiviz.github.io/css/style.css">


    
    <script src="https://epiviz.github.io/js/jquery.min-2.1.4.js"></script>
    <script src="https://epiviz.github.io/js/bootstrap.min-3.3.5.js"></script>

    
    <link href="" rel="alternate" type="application/rss+xml" title="Epiviz" />
</head>

<body lang="en-US">
    
    <div class="container">
    <div class="row">
        <div class="navbar navbar-default " role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://epiviz.github.io"><img src="https://epiviz.github.io/images/epiviz_4_logo_medium.png"></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://epiviz.github.io">Home</a></li>
                    <li><a href="https://epiviz.github.io/post/">News</a></li>
                    
                      <li><a href="https://epiviz.github.io/metaviz/"> Metaviz </a></li>
                    
                      <li><a href="https://epiviz.github.io/tutorials/"> Tutorials </a></li>
                    
                      <li><a href="https://epiviz.github.io/documentation/"> Documentation </a></li>
                    
                      <li><a href="https://epiviz.github.io/contact/"> Contact Us </a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h3></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<br>
			<h2 id="epiviz-component-library">Epiviz Component Library</h2>
<p>The Epiviz Component Library is a reusable and extensible data visualization library and application framework for genomic data. Epiviz Components can be integrated with most JavaScript libraries and frameworks designed for HTML. The component library is modular by design, reusable and natively extensible and therefore simplifies the process of managing and developing bioinformatic applications.</p>
<p>The library provides multiple data visualizations for both location (visualizing data along the genome genes tracks (epiviz-genes-track) or line tracks (epiviz-line-track)) and feature based data (visualizing quantitative measurements like gene expression with scatterplots (epiviz-scatter-plot) and heatmaps (epiviz-heatmap-plot)). A complete list is available in the documentation.</p>
<ul>
<li><a href="http://github.com/epiviz/epiviz-chart">GitHub</a></li>
<li><a href="http://epiviz.github.io/epiviz-chart">Website</a></li>
<li><a href="http://epiviz.github.io/polymer/datasource/">Data Source</a></li>
<li><a href="http://epiviz.github.io/polymer/charts/">Charts</a></li>
</ul>
<h2 id="how-to-use">How to use</h2>
<h3 id="load-dependencies-add-this-to-html-head">Load dependencies (add this to html head)</h3>
<script src="https://gist.github.com/jkanche/9bb7f79637329d15199464afb31ee2a2.js?file=dependencies"></script>
<script src="https://ghcdn.rawgit.org/epiviz/epiviz-chart/master/cdn/jquery/dist/jquery.js"></script>
<script src="https://ghcdn.rawgit.org/epiviz/epiviz-chart/master/cdn/jquery-ui/jquery-ui.js"></script>
<script src="https://ghcdn.rawgit.org/epiviz/epiviz-chart/master/cdn/renderingQueues/renderingQueue.js"></script>
<script src="https://ghcdn.rawgit.org/epiviz/epiviz-chart/master/cdn/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="https://ghcdn.rawgit.org/epiviz/epiviz-chart/master/cdn/epiviz-components.html">
<h3 id="add-visualiation-components-to-the-page">Add Visualiation components to the page</h3>
<script src="https://gist.github.com/jkanche/9bb7f79637329d15199464afb31ee2a2.js?file=scatter-plot"></script>
<p><epiviz-scatter-plot
dim-s='["ExpressionA", "ExpressionB"]'
json-data='{
"rows": {
"end": [101454659,0,417130,0,0,83502,0,148863,0,0],
"start": [101322295,0,463451,0,0,132428,0,63018,0,0],
"chr": ["chr11","chr11","chr11","chr11","chr11","chr11","chr11","chr11","chr11","chr11"]
},
"cols": {
"ExpressionA": [-0.188,0.153,-0.762,0.53,-0.776,-0.32,-0.731,6.503,11.087,10.569],
"ExpressionB": [-0.325,-0.289,-0.523,1.417,-0.636,-0.89,-0.786,4.885,9.112,8.862]
}
}'></epiviz-scatter-plot></p>
<h3 id="a-fancier-example">A fancier example</h3>
<p>Using data from <a href="http://epiviz.cbcb.umd.edu">http://epiviz.cbcb.umd.edu</a></p>

<script src="https://gist.github.com/jkanche/9bb7f79637329d15199464afb31ee2a2.js?file=epiviz-environment"></script>

<p><epiviz-data-source provider-type="epiviz.data.WebServerDataProvider" provider-id="umd" provider-url="https://epiviz-dev.cbcb.umd.edu/api/"></epiviz-data-source></p>
<p><epiviz-environment chr="chr6" start=40076201 end=45076201 no-logo measurements='{"affy1":{
"id":"e070",
"name":"Expression Brain Germinal Matrix",
"type":"feature",
"datasourceId":"roadmap_rnaseq",
"datasourceGroup":"roadmap_rnaseq",
"dataprovider":"umd",
"formula":null,
"defaultChartType":null,
"annotation":null,
"minValue":-3,
"maxValue":20,
"metadata":["probe"]
},
"affy2":{
"id":"e071",
"name":"Expression Brain Hippocampus Middle",
"type":"feature",
"datasourceId":"roadmap_rnaseq",
"datasourceGroup":"roadmap_rnaseq",
"dataprovider":"umd",
"formula":null,
"defaultChartType":null,
"annotation":null,
"minValue":-3,
"maxValue":20,
"metadata":["probe"]
},
"genes": {
"id": "genes",
"name": "Genes",
"type": "range",
"datasourceId": "genes",
"datasourceGroup": "genes",
"dataprovider": "umd",
"formula": null,
"defaultChartType": "Genes Track",
"annotation": null,
"minValue": null,
"maxValue": null,
"metadata": ["gene", "exon_starts","exon_ends"]
}
}'>
<epiviz-genes-track id="test" slot="charts" dim-s='["genes"]'></epiviz-genes-track>
<epiviz-scatter-plot slot="charts" dim-s='["affy1", "affy2"]'></epiviz-scatter-plot>
</epiviz-environment></p>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
</div>

    <div class="container">
        <div class="row col-md-12">
            <footer>
                <div class="pull-left">
                    <p>
                        &copy; 2012 ~ University of Maryland, Hector Corrada Bravo, Jayaram Kancherla, Florin Chelaru. All Rights Reserved ~ Powered By <a href="http://hugo.spf13.com">Hugo</a> - version: 0.69.1 ~ <a href="https://epiviz.github.io/license">License</a>
                    </p>
                </div>

                
                <div class="pull-right">
                    
                    
                    
                        <a href="https://twitter.com/epiviz" target="_blank">
                        <i class="fa fa-twitter-square fa-2x"></i></a>
                    
                    
                        <a href="https://github.com/epiviz" target="_blank">
                        <i class="fa fa-github-square fa-2x"></i></a>
                    
                    
                    
                    
                </div>
            </footer>
        </div>
    </div>

    
    </body>
</html>

